$heart-url: url('../images/hearts2.jpg');
$path-url: url('../images/topMountain.jpg');



$fontsize: 12px;
$main-font: Gotham, Arial, sans-serif;


$circle-measures: 80px;

$dark-font: #273a34;
$off-black: #100b00;
$yellow: #feda59;
$circle-orange: #ff8900;
$dark-blue: #4D5BFF;
$awesome-red: #FF525E;
$grey: #BFBFBF;
$green: #5ce184;
$orange: #ff8900;



