body {
  font-family: Gotham, Arial, sans-serif;
  color: #273a34;
  font-size: 12px;
  margin: 0;
  padding: 0; }

.page {
  width: 100%;
  height: 100%;
  position: relative; }

.left-side {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden; }

#welcome {
  background-image: url("../images/hearts2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%; }

/* TOP of FIRST PAGE */
nav {
  margin-left: 3%;
  padding-top: 1%; }

#name {
  float: left;
  font-size: 36px;
  font-weight: bold; }
  #name:hover {
    color: #46685d; }

.nav-link {
  margin-right: 2%;
  /*margin-top: -1%;*/
  font-size: 24px;
  font-weight: bold;
  display: inline;
  float: right;
  list-style-type: none; }
  .nav-link:hover {
    color: #46685d; }

/* WORDS INSIDE HEART */
.words {
  /* background-color: $cute-pink; */
  color: #FF7D0B;
  height: 10%;
  width: 30%;
  text-align: center;
  vertical-align: center;
  position: absolute;
  font-size: 48px;
  font-weight: bold;
  left: 33%;
  top: 60%; }
  .words:hover {
    color: #ff525e; }

#path {
  background-color: #bfbfbf; }

/* Timeline */
#path {
  background-image: url("../images/topMountain2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.left-list {
  list-style-type: none;
  height: 100%;
  margin: 10%; }

.box {
  display: table;
  width: 50%;
  height: 20%; }

.circle {
  float: left;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff8900;
  display: block; }

.time {
  padding: 8px;
  text-align: center; }

.stage {
  width: 300px;
  margin-left: 80px;
  text-align: center;
  font-weight: bold;
  color: black; }

.description {
  max-height: 100px;
  max-width: 300px;
  padding: 26.66667px;
  margin-left: 80px;
  color: black; }

.link {
  color: #ff8900;
  width: 400px;
  max-height: 100px;
  float: left; }
  .link:visited {
    color: #ff525e; }

/* Projects */
#end {
  background-color: #bfbfbf; }

.top {
  height: 80%;
  width: 100%; }

.project {
  background-color: #a6a6a6;
  float: left;
  height: 30%;
  width: 25%;
  margin: 5% 0 3% 5%;
  border: 3px solid #8c8c8c;
  border-radius: 1%; }
  .project.hover {
    background-color: #ff8900; }

.app {
  height: 100%;
  width: 100%;
  opacity: 1; }
  .app.hover {
    opacity: 0.7; }

.future-app {
  margin-top: 20%;
  font-size: 30px;
  text-align: center; }

.overview {
  margin-top: 5%; }

/*Connect */
.bottom {
  width: 65%; }

.connect-link {
  margin: 5%;
  /*margin-top: -1%;*/
  font-size: 24px;
  font-weight: bold;
  display: inline;
  float: right;
  list-style-type: none; }
  .connect-link:hover {
    color: #46685d; }

.title {
  font-size: 30px;
  float: left; }

.icon {
  height: 40px;
  width: 40px; }
