/*!CK:1079753223!*//*1390917711,178127453*/

.sp_bcrw3g{background-image:url(/rsrc.php/v2/yV/r/_Q_ImWd7aP1.png);background-size:18px 414px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_4fd71d{background-position:0 0}
.sx_3bd7db{background-position:0 -18px}
.sx_194be7{background-position:0 -36px}
.sx_048bdc{background-position:0 -54px}
.sx_c97133{background-position:0 -72px}
.sx_db3333{background-position:0 -90px}
.sx_cc0980{background-position:0 -108px}
.sx_9e0731{background-position:0 -126px}
.sx_4a1638{background-position:0 -144px}
.sx_50f033{background-position:0 -162px}
.sx_ea91a8{background-position:0 -180px}
.sx_5f9cb1{background-position:0 -198px}
.sx_636ebb{background-position:0 -216px}
.sx_a44991{background-position:0 -234px}
.sx_9af610{background-position:0 -252px}
.sx_ec032c{background-position:0 -270px}
.sx_d1e3f4{background-position:0 -288px}
.sx_3eb0a4{background-position:0 -306px}
.sx_fcad50{background-position:0 -324px}
.sx_1f45cc{background-position:0 -342px}
.sx_3c6967{background-position:0 -360px}
.sx_606389{background-position:0 -378px}
.sx_eeb1b7{background-position:0 -396px}

#bootloader_LF2Mx { height: 42px; }
.bootloader_LF2Mx { display:block !important; }